.addTodo{ 
    margin:auto auto 10px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row{
    width: 110%;
}

.label{
    font-weight: bold;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0px 10px 10px; 
}

.add-button{
background-color: rgb(23, 138, 92);
color: white;
font-weight: bold;
margin-left: 5px;
padding: 12px;
border-radius: 5px;
}

.input{
    width: 420px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}